button, .button {
    padding: 0px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
}
#voorspellenhtml .grid19{
  background-color: black;
}
.verb{
  border: 10px solid $green;
}
.verbAI{
  border: 10px double $green;
}
.personal{
  border: 10px solid $orange;
}
.personalAI{
  border: 10px double $orange;
}
.question{
  border: 10px solid $blue;
}
.questionAI{
  border: 10px double $blue;
}
.navigation{
  border: unset;
  background-color: $dark-grey;
  color: white;
}
.yes{
  background-color: $green;
  border: unset;
  font-size: 32px;
}
.no{
  background-color: $red;
  border: unset;
  font-size: 32px;
}
.action{
  background-color: $grey;
  border: unset;
}
.actionAI{
  background-color: $grey;
  border: unset;
}
.negation{
  border: 10px solid $red;
}
.negationAI{
  border: 10px double $red;
}
.article{
  border: 10px solid $black;
}
.articleAI{
  border: 10px double $black;
}
// Filled buttons
.personal-filled{
  border: 10px solid $orange;
  background-color: $orange;
}
.verb-filled{
  border: 10px solid $green;
  background-color: $green;
}
.question-filled{
  border: 10px solid $blue;
  background-color: $blue;
}
img{
  width: auto;
  height: 4rem;
}
.output *{
  border: none;
}
a{
  text-decoration: none;
}