:root {
  --pink: #FB88CF;
  --purple: #A579FB;
  --black: #434343;
  --red: #FB4C4C;
  --brown: #BE9780;
  --orange: #FBAF3C;
  --blue: #66C4FB;
  --green: #9ADF7D;
  --yellow: #FBE27F;
  --white: #fff;
  --grey: #AAAAAA;
  --dark-grey: #515050;
  --font-zwart: #000;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "ITC Avant Garde Gothic Bold";
  src: url("../fonts/itcavantgardegothicbold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "ITC Avant Garde Gothic Bold";
  src: url("../fonts/itcavantgardegothicbold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "ITC Avant Garde Gothic Bold", sans-serif;
  color: var(--font-zwart, #000);
}

h1, h2, h3, h4, h5, h6, button {
  font-family: "ITC Avant Garde Gothic Bold", sans-serif;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
}
.grid-container .output {
  grid-column: span 4;
  background-color: #fff;
  border: 2px solid #000;
  font-size: 24px;
  text-align: left;
  display: flex;
  gap: 20px;
  flex-direction: row;
  padding: 0px 20px;
}
.grid-container .output div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 100%;
  justify-content: center;
  gap: 10px;
}

button, .button {
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.verb {
  border: 10px solid var(--green, #9ADF7D);
}

.verbAI {
  border: 10px double var(--green, #9ADF7D);
}

.personal {
  border: 10px solid var(--orange, #FBAF3C);
}

.personalAI {
  border: 10px double var(--orange, #FBAF3C);
}

.question {
  border: 10px solid var(--blue, #66C4FB);
}

.questionAI {
  border: 10px double var(--blue, #66C4FB);
}

.navigation {
  border: unset;
  background-color: var(--dark-grey, #515050);
  color: white;
}

.yes {
  background-color: var(--green, #9ADF7D);
  border: unset;
  font-size: 32px;
}

.no {
  background-color: var(--red, #FB4C4C);
  border: unset;
  font-size: 32px;
}

.action {
  background-color: var(--grey, #AAAAAA);
  border: unset;
}

.actionAI {
  background-color: var(--grey, #AAAAAA);
  border: unset;
}

.negation {
  border: 10px solid var(--red, #FB4C4C);
}

.negationAI {
  border: 10px double var(--red, #FB4C4C);
}

.article {
  border: 10px solid var(--black, #434343);
}

.articleAI {
  border: 10px double var(--black, #434343);
}

.personal-filled {
  border: 10px solid var(--orange, #FBAF3C);
  background-color: var(--orange, #FBAF3C);
}

.verb-filled {
  border: 10px solid var(--green, #9ADF7D);
  background-color: var(--green, #9ADF7D);
}

.question-filled {
  border: 10px solid var(--blue, #66C4FB);
  background-color: var(--blue, #66C4FB);
}

img {
  width: 4em;
  height: auto;
}

.output * {
  border: none;
}

main {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
main span {
  height: 20px;
  padding: 5px 10px;
  background-color: var(--dark-grey, #515050);
  color: var(--white, #fff);
}
main section {
  padding: 10px;
  height: 100%;
}/*# sourceMappingURL=main.css.map */